td {
  padding: 5px 5px;
  height: 30px;
  width: 30px;
  border: 3px solid #123456;
  cursor: pointer;
}

.red-bg {
  background-color: red;
}

.border {
  background-color: #123456;
}

.snake {
  background-color: #333;
}