td {
  height: 27px;
  width: 35px;
  padding: 0 5px;
  border: 3px solid #123456;
  cursor: pointer;
  text-align: center;
}

.food {
  background-color: #D8262C;
}

.border {
  background-color: #123456;
}

.snake {
  background-color: #333;
  border: 3px solid #333;
}